* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* common style */
.button {
  background-color: rgb(38, 38, 243);
  color: white;
  padding: 12px 32px;
  border-radius: 5px;
}

/* nav bar style start */

.nav-bar {
  margin-inline: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.nav-menu ul {
  display: flex;
  gap: 24px;
  list-style: none;
  color: #575757;
}

/* nav bar style end */
/* hero section start  */

.hero-section{
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),  url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hero-section-element h1{
    color: white;
    font-size: 80px;
    padding-top: 100px;
}
.hero-section-element p{
    color: white;
    font-size: 22px;
    margin-top: 16px;

}
.hero-section-element button{
    margin-top: 300px;
    color: white;
    font-size: 24px;
    background-color: blue;
    padding: 25px 62px;
    border-radius: 8px;
    border: none;
    margin-bottom: 70px;

}
/* hero section end  */

/* speaker section start  */

.speakers-heading h1{
    text-align: center;
    font-size: 56px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.guest-speaker-section{
    margin: 8%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 30px;

}

.guest-speaker-section .speakers-card{
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    
}

.guest-speaker-section .speakers-card img{
    border-radius: 10px 10px 0 0;
}
.guest-speaker-section .speakers-title{
    padding: 20px;

}
.guest-speaker-section .speakers-title h5{
    color: blue;
    margin: 3px 0;
}

.guest-speaker-section .speakers-title h3{
    font-size: 20px;
    margin:5px 0;
}

.guest-speaker-section .speakers-title p{
    font-size: 14px;
    margin: 3px 0 ;
}

.guest-speaker-section img{
    width: 100%;
    display: block;
}

/* speaker section end */

/* pricelist section start  */

.pricelist-section{
    margin: 0 12%;
}

.offer-section{
    text-align: center;
    margin-bottom: 50px;
}

.offer-section h1{
    font-size: 48px;
    margin: 12px;
}

.offer-section p{
    font-size: 16px;
    color: #575757;
}

.price-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 30px;
}

.price-card div{
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 30px;
}
/* price category start  */
.price-category{
    display: flex;
    flex-direction: column;


}

.price-category ul{
    text-align: left;
    list-style-position: inside;
    padding-left: 0;
}
.price-category ul li::marker{
    color: blue;    

}

.price-category p{
    color: #888888;
    margin: 8px 8px 8px 0;
}
.price-category h1{
    color: #0D1B2A;
    font-size: 44px;
}

.price-category h6{
    color: #888888;
    font-size: 13px;
    margin-bottom: 10px;
}
.price-category hr{
    margin: 10px 15px 5px 5px;
    color: #999999;
}
.price-category ul{
    margin-top: 15px;
    margin-bottom: 15px;
}
.price-category ul li{
    font-size: 14px;
    color: #333333;
    margin-bottom: 15px;
}

.price-category button{
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid blue;
    background-color: white;
    color: blue;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}
/* /* price category end  */

.pro-category{
    background-color: #0D1B2A;
}

.pro-category p{
    color: #93C5FD;
}
.pro-category h1{
    color: #FFFFFF;
}
.pro-category h6{
    color: #FFFFFF;
}
.pro-category ul li{
    color: #FFFFFF;
}
.pro-category button{
    background-color: blue;
    color: white;
}

.team-category button{
    background-color: #E5E7EB;
    border: 1px solid #0D1B2A;
    color: #0D1B2A;
}

/* ai powerd relevant section  */
.career-section{

    width:90%;
    max-width:1200px;

    margin:120px auto;

    text-align:center;
}

.badge{

    display:inline-block;

    padding:10px 20px;

    border-radius:50px;

    background:#EFF6FF;

    color:#2563EB;

    font-weight:600;

    margin-bottom:20px;
}

.section-title h2{

    font-size:48px;

    color:#111827;

    margin-bottom:20px;
}

.section-title p{

    max-width:700px;

    margin:auto;

    color:#6B7280;

    line-height:1.8;

    font-size:17px;
}

.career-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

    margin-top:60px;
}

.job-card{

    background:white;

    border-radius:16px;

    padding:35px;

    text-align:left;

    border:1px solid #E5E7EB;

    transition:.35s;

    box-shadow:0 10px 30px rgba(0,0,0,.05);
}

.job-card:hover{

    transform:translateY(-10px);

    box-shadow:0 25px 50px rgba(37,99,235,.12);

    border-color:#2563EB;
}

.job-icon{

    width:65px;

    height:65px;

    border-radius:16px;

    background:#EFF6FF;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    margin-bottom:25px;
}

.job-card h3{

    color:#111827;

    margin-bottom:15px;

    font-size:24px;
}

.job-card p{

    color:#6B7280;

    line-height:1.7;

    margin-bottom:30px;
}

.job-footer{

    display:flex;

    justify-content:space-between;

    color:#2563EB;

    font-weight:600;
}

.career-btn{

    display:inline-block;

    margin-top:60px;

    padding:18px 42px;

    border-radius:14px;

    background:#2563EB;

    color:white;

    text-decoration:none;

    font-weight:600;

    transition:.35s;

    box-shadow:0 15px 35px rgba(37,99,235,.25);
}

.career-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 25px 45px rgba(37,99,235,.35);
}

/* footer  */
footer{
    background-color: #0D1B2A;
}
.footer-icon{
    margin: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.copy-right{
    margin: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.copy-right p{
    color: rgb(177, 174, 174);
}

.privacy-div{
    display: flex;
    gap: 20px;
}
.privacy-div p{
    color: rgb(129, 127, 127);
}

footer hr{
    color: #575656;
}
